<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%if (htmlWebpackPlugin.options.webextPolyfill) { %>
      <script src="/assets/browser-polyfill.min.js"></script>
    <% } %>
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
  </body>
</html>
