.navbarCategories div:first-child {
    overflow: visible;
}

.emptyContainer {
    /* border-color matches TabNav lib */
    border-right: 1px solid rgba(225, 228, 232, 0.5);
    border-bottom: 1px solid rgba(225, 228, 232, 0.5);
    border-left: 1px solid rgba(225, 228, 232, 0.5);
    background: transparent;
    display: flex;
}

.emptyInbox {
    display: block;
    width: 200px;
    margin: 25px auto;
}

.markdownContent {
    white-space: normal;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 6px 0;
}

.markdownContent details {
    border: 1px solid #6a6a6a;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 0.5em;
}

.markdownContent summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.markdownContent details[open] {
    padding: 0.5em;
}

.markdownContent details[open] summary {
    border-bottom: 1px solid #6a6a6a;
    margin-bottom: 0.5em;
}

.markdown-body div > *:first-child {
    margin-top: 0;
}
