.emptyContainer {
    /* border-color matches TabNav lib */
    border-right: 1px solid rgb(225, 228, 232);
    border-bottom: 1px solid rgb(225, 228, 232);
    border-left: 1px solid rgb(225, 228, 232);
    background: white;
    display: flex;
}

.emptyInbox {
    display: block;
    width: 200px;
    margin: 25px auto;
}
