.navbarCategories div:first-child {
    overflow: visible;
}

.emptyContainer {
    /* border-color matches TabNav lib */
    border-right: 1px solid rgba(225, 228, 232, 0.5);
    border-bottom: 1px solid rgba(225, 228, 232, 0.5);
    border-left: 1px solid rgba(225, 228, 232, 0.5);
    background: transparent;
    display: flex;
}

.emptyInbox {
    display: block;
    width: 200px;
    margin: 25px auto;
}
